// ***************************************************
// Google map styles
// ***************************************************
#map {
	width: 100%;
	height: calc(100% - 70px);
	position: absolute;
	right: 0;
}